/*
1. create a nav bar
  a. on the left side of the nav put a 200x70 image
  b. there should be 4 list items in a ul
  c. center the li vertically
  d. space the li horizontally
*/  
* {
  outline: 1px dotted red;
  box-sizing: border-box;
}

header {
  height: 100px;
}

nav {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  }

  nav img {
    float: left;
    margin-top: 15px;
  }
nav ul {
  margin-left: 230px;
}
nav ul li {
  float: left;
  margin-top: 45px;
  margin-right: 110px;
}
/* 2. in the first section of the body there should be an img 960x450
  a. img should be centered on the page and be dynamic so that it stays the same size no matter the size of the screen. */

main {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/*3. The next section should have three 300x375 images (in a ul).
  a. they should be next to each other, spaced equidistant */

main > ul {
   margin-top: 15px;
   overflow: hidden;
  }

  main > ul > li {
    float: left;
    margin-right: 30px;
  }

  main > ul > li:last-child {
    margin-right: 0px;
  }


/*4. the next section should have an img 480x400 and a scrollable text section of the same size
  a. they should fit the page (fix margins, borders, padding)
  b. create a button at the bottom of the text that says "Call to Action" */
main > section {
  margin-top: 15px;
}

main > section > img {
  float: left;
}

article {
  float: left;
  width: 50%;
  padding-left: 15px;
}

article p {
  height: 364px;
  overflow: auto;
  font: serif;
  font-style: oblique;
}

button {
  background-color: black;
  color: white;
}

/*5. apply colors (black and gray) to sections as needed */



